<!-- public/views/home.hbs -->

<div class="card-title">
    <h5>Welcome, {{user.name}}</h5>
</div>
<div class="card-text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, veniam? Voluptas facere deleniti
    commodi corrupti vel! Reprehenderit cum natus, quod corporis, accusantium ea hic non repudiandae
    illum nobis odio laudantium?
</div>
<hr />
<div class="card-text mt-2">
    <a class="btn btn-lg btn-outline-primary" href='/profile'><span class="material-icons align-middle me-2">settings</span>Edit Your Profile</a>
</div>
