<!-- public/views/profile.hbs -->

<!-- public/views/login.hbs -->
<div class="card-text">
    <form action="/login" method="post">
        <div class="row mb-2">
            <div class="offset-sm-4">
                <h5>Update Your Information</h5>
            </div>
        </div>
        {{#if message}}
            <div class="alert alert-danger" role="alert">
                {{message}}
            </div>
        {{/if}}
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <div class="row mb-3">
            <label class="col-sm-4 form-label" for="username">Name</label>
            <div class="col">
                <input class="form-control" type="text" name="username" id="username" value="{{user.name}}" />
            </div>
        </div>
        <div class="row mb-3">
            <label class="form-label col-sm-4" for="email">Email</label>
            <div class="col">
                <input class="form-control" type="email" name="email" id="email" value="{{user.email}}" />
            </div>
        </div>
        <div class="mb-3 row">
            <label class="control-label col-sm-4" for="password">Password</label>
            <div class="col">
                <input class="form-control" type="password" name="password" id="password" />
            </div>
        </div>
        <div class="mb-3 row">
            <label class="control-label col-sm-4" for="verify-password">Verify password</label>
            <div class="col">
                <input class="form-control" type="password" name="verifyPassword" id="verify-password" />
            </div>
        </div>
        <div class="row">
            <div class="offset-sm-4">
                <button class="btn btn-outline-secondary" type="submit">Save</button>
            </div>
        </div>
    </form>
</div>
