<div class="card-text">
    <div class="alert alert-danger mb-0 h-100" role="alert">
        <span class="material-icons float-end">error_outline</span>
        <h4 class="alert-heading text-start">Something went wrong!</h4>
        <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, veniam? Voluptas facere deleniti
            commodi corrupti vel! Reprehenderit cum natus, quod corporis, accusantium ea hic non repudiandae
            illum nobis odio laudantium?
        </div>
    </div>
</div>
